.node{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    transition: transform .2s;
    transition: background-color .3s;
    background-color: gold;
    border-style: solid black 2px;
    text-align: center;
    position: absolute;
}
.node p{
    padding-top: 28%;
    font-size: 30;
    user-select: none;
}
.node:hover{
    background-color: rgb(160, 136, 1);
    cursor: pointer;
    transform: scale(1.3);
}
@keyframes node-placed-anim{
    0% {transform: scale(1.5);
        background-color:rgb(92, 78, 0)}
    50% {transform: scale(.8);}
    100% {transform: scale(1);
    background-color: gold;}
}
.node-placed{
    animation: node-placed-anim .5s;
}
.node-discovered{
    background-color: grey;
}
.node-searched{
    background-color: black;
}
.edge{
    stroke: red;
    stroke-width: 8;
}
.edge:hover{
    stroke: rgb(131, 0, 0);
    cursor: pointer;
}