/* -----------------------------------------------
                TABLE OF CONTENTS
                -----------------
                1. Nodes 
                2. Edges
-------------------------------------------------- */
:root{
    --node-width: 70px;
    --node-height: 70px;
}

/* -----------------------------------------------
NODE CONFIG
-------------------------------------------------- */
.node {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    transition: background .3s;
    background-color: gold;
    border-style: solid black 2px;
    text-align: center;
    position: absolute;
}
.node span{
    display: none;
}
.node:hover {
    background-color: rgb(160, 136, 1);
    cursor: grab;
    transform: scale(1.3);
}
.node-animater {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.node-placed {
    animation: node-placed-anim .5s;
}
.node-animater-discovered {
    animation: node-discovered-anim .5s;
    background-color: #7fdbffc2;
}

.node-searched {
    animation: node-searched-anim .5s;
    background-color: black;
}
.current-node{
    border-radius: 0;
    border: green dashed 4px;
}
.start-node{
    background-image: url("../img/start.png") !important;
    background-size: cover;
    /* background-color: white; */
}
.dest-node{
    background-image: url("../img/end.png") !important;
    background-size: cover;
    /* background-color: white; */
}
#start-node-move{
    background-image: url("../img/start.png") !important;
    background-size: cover;
    display: none;
    width: var(--node-width);
    height: var(--node-height);
    position: absolute;
    pointer-events: none;
    z-index: 1;
}
#start-node-move:hover{
    cursor: move;
}
#dest-node-move{
    background-image: url("../img/end.png") !important;
    background-size: cover;
    display: none;
    width: var(--node-width);
    height: var(--node-height);
    position: absolute;
    top: 75;
    pointer-events: none;
    z-index: 1;
}
.path-found{
    animation: path-found-anim .5s;
    background-color: var(--success);
}
/* Node Animations */
@keyframes node-searched-anim {
    0% {
        background-color: lightblue;
    }
    50% {
        background-color: rgb(106, 173, 196);
    }
    75% {
        transform: scale(1.2);
        background-color: rgb(20, 74, 92);
    }
    100% {
        transform: scale(1.0);
        background-color: rgb(0, 0, 0);
    }
}

@keyframes node-discovered-anim {
    from {
        transform: scale(.1);
        background-color: lightblue;
    }
    to {
        transform: scale(1);
        background-color: lightblue;
    }
}

@keyframes node-placed-anim {
    0% {
        transform: scale(1.5);
        background-color: rgb(92, 78, 0)
    }
    50% {
        transform: scale(.8);
    }
    100% {
        transform: scale(1);
        background-color: gold;
    }
}
@keyframes path-found-anim{
    from{
        background-color: rgba(0, 128, 0, 0);
    }
    to{
        background-color:  var(--success);
        transform: rotateX(360deg);}
}

/* -----------------------------------------------
EDGE CONFIG
-------------------------------------------------- */

.edge {
    stroke: red;
    stroke-width: 8;
}

.edge:hover {
    stroke: rgb(131, 0, 0);
    cursor: pointer;
}