@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;500&display=swap');
/*font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;  */

:root {
    --navbar-height: 78px;
}

.navbar {
    z-index: 1;
}

body {
    user-select: none !important;
    font-family: 'Work Sans', sans-serif !important;
    font-weight: 500 !important;
}

.button-active-node {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00;
    box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, .5);
}

.button-active-edge {
    background-color: #dc3545;
    border-color: #bd2130;
    box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, .5);
}

#toolbar button:hover {
    opacity: .5 !important;
}

.jumbotron {
    height: 93%;
    padding: 0 !important;
    margin: 0;
}

#canvas {
    background-color: white !important;
    flex-direction: row;
}

#svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 62px;
    left: 0;
}

#notification-board {
    /* position: absolute;
    top: 62px;
    left: 0; */
}

.visualize-active {
    background-color: rgb(255, 0, 0) !important;
}

.form-check {
    padding-top: 12px;
}

.form-check input {
    width: 100%;
}

#info-panel {
    position: absolute;
    background-color: var(--gray);
    color: var(--white);
    height: 100%;
    width: 150px;
    left: -140px;
    transition: left 0.4s ease-in-out;
    z-index: 1;
    text-align: center;
}

#info-panel:hover {
    left: 0;
}

#info-panel-sticky {
    writing-mode: vertical-lr;
    text-orientation: sideways;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 95%;
    height: 60px;
    background-color: var(--gray);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    /* same as #panel width */
}