@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;500&display=swap');
/*font-family: 'Roboto', sans-serif;
font-family: 'Work Sans', sans-serif;  */
.navbar{
    /* color: white !important; */
    /* background-color: rgb(0, 73, 97); */
    z-index: 5;
}

/* #title{
    color: white;
    font-size: 100%;
    font-weight: 500;
} */
body{
    user-select: none !important;
    font-family: 'Work Sans', sans-serif !important;
    font-weight: 500 !important;
}
#toolbar a{
    cursor: pointer;
}
#toolbar button{
    /* margin: 10px; */
    margin-left: 5px;
    margin-right: 5px;
}
#toolbar button:hover{
    opacity: .5 !important;
}
.button-active{
    background-color: rgb(0, 185, 0) !important;
}

.jumbotron{
    height: 93%;
}
#canvas{
    padding: 0;
    margin:0;
    background-color: rgb(255, 226, 231) !important;

}