@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,700;1,500&display=swap');
/* font-family: 'Kanit', sans-serif; */

/* font-family: 'Ubuntu', sans-serif; */

:root {
    --num-anim-time: .2s;
    --rotate-radius: 25px
}

body {
    background-color: violet;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: rgb(255, 225, 27);
    height: 100vh;
    width: 100vw;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.container {
    height: 100%;
}

.item {
    /* border: black solid 10px; */
    position: relative;
    display: flex;
    height: 50px;
    user-select: none;
    pointer-events: none;
    z-index: 1;
}

.i1 {
    width: 259px;
}

.i2 {
    width: 275px;
}

#in {
    width: 25px;
}

#radial-slide {
    position: absolute;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-image: url(../img/Untitled.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    opacity: .7;
    /* transition: ; */
}

#radial-slide:hover {
    opacity: .9;
    cursor: grab;
}

#number-1 {
    position: absolute;
    width: inherit;
    height: inherit;
}

#number-2 {
    width: inherit;
    height: inherit;
    position: absolute;
}

#miles-header1 {
    position: absolute;
}

#miles-header2 {
    position: absolute;
}

.number-FtoT {
    animation: num-rotate-ToptoFront var(--num-anim-time) ease-in reverse;
    transform: rotate3d(1, 0, 0, -90deg)
}

.number-BtoF {
    animation: num-rotate-FronttoBot var(--num-anim-time) ease-in reverse;
    transform: rotate3d(1, 0, 0, 0deg)
}

.number-TtoF {
    animation: num-rotate-ToptoFront var(--num-anim-time);
    transform: rotate3d(1, 0, 0, 0deg)
}

.number-FtoB {
    animation: num-rotate-FronttoBot var(--num-anim-time);
    transform: rotate3d(1, 0, 0, -90deg)
}

@keyframes num-rotate-ToptoFront {
    from {
        top: calc(-1*var(--rotate-radius));
        transform: rotate3d(1, 0, 0, -90deg);
    }
    to {
        transform: rotate3d(1, 0, 0, 0deg);
        top: 0;
    }
}

@keyframes num-rotate-FronttoBot {
    from {
        top: 0;
        transform: rotate3d(1, 0, 0, 0deg);
    }
    to {
        transform: rotate3d(1, 0, 0, 90deg);
        top: var(--rotate-radius);
    }
}